<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MapleMacro2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <MapleMacro2.Properties.Settings>
      <setting name="기술_1_실행간격" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="기술_2_실행간격" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="기술_3_실행간격" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="기술_4_실행간격" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="기술_1_매크로유무" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="기술_2_매크로유무" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="기술_3_매크로유무" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="기술_4_매크로유무" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="설정_매크로_활성_시간" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="설정_시작_키" serializeAs="String">
        <value>None</value>
      </setting>
      <setting name="설정_종료_키" serializeAs="String">
        <value>None</value>
      </setting>
    </MapleMacro2.Properties.Settings>
  </userSettings>
</configuration>